/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  border: solid red;
  line-height: 1;
  background: linear-gradient(to bottom right, #7A9D96, #CAE4DB, #00303F);
  height: 780px;
}
.container {
  width: 1080px;
  margin: auto;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
  font-size: 1.8rem;
  font-family: 'Audiowide', cursive;
  color: brown;
}
h1 .logo {
  text-decoration: none;
  color: brown;
}
h2 {
  font-size: 1.8rem;
  color: brown;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 35%;
}
header nav {
  padding-left: 7%;
}
header nav a {
  text-decoration: none;
  color: brown;
  margin: 5px 5px 5px 5px;
}
.top-content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.top-content .text {
  padding-top: 10px;
}
.top-content .airplane {
  width: 50%;
  height: 300px;
  border-radius: 10px;
}
.middle-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.middle-content .middleh2 {
  display: flex;
  justify-content: center;
}
.middle-content .middleimg {
  width: 50%;
  height: 300px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}
.middle-content .midimg {
  display: flex;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
footer .footernav {
  margin: 10px 10px 10px 10px;
}
footer .footernav a {
  text-decoration: none;
  color: brown;
}
